.img{
    transition: all .4s;
  }
  
.img:hover{
    width: 380px;
    transform: translate(0px, -20px);
}

.img2{
  transition: all .5s;
}

.img2:hover{
  width: 340px;
  transform: translate(25px, 0px);
}

.title{
  overflow-y: hidden;
}